.container {
  width: 100%;
  margin-top: 1rem;
}

.tabList {
  height: 3.5rem;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #a5a3a391;
}

.tabs {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-weight: 300;
}

.active {
  font-weight: 500;
}

.active::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 3px;
}

.tabContent{
  padding-bottom: 6.5rem;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background: #a5a3a3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
