.container {
  padding: .8rem;
  width: 100%;
  max-width: 768px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 20;
}

.btnPrimary {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.btnPrimary span {
  font-size: 1.2rem;
}

.btnPrimary svg {
  font-size: 3.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    left: 0;
  }
}
